.n-page-header {
  margin-left: 1rem;

  &__title {
    font-size: 2rem !important;
    font-weight: 600 !important;
    margin-bottom: 5rem;
    letter-spacing: 0.75rem;
    margin-left: 1rem;
    color: $main-page-font-color !important;
  }
}

.experience-page {
  display: grid;
  padding-left: 3rem;
  height: 150vh;

  &__icon {
    font-size: 3rem;
    padding-right: 2rem;
    opacity: 0;
    transform: scale(0.5);
    /* Start with a smaller icon */
    transition: opacity 1s ease, transform 1s ease;
  }

  &__icon.zoom-in {
    opacity: 1;
    transform: scale(1);
    /* Zoom in to the original size */
  }

  &__icon-wipro {
    width: 3rem;
    height: 3rem;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.6);
    border-radius: 2rem;
  }

  .n-timeline-item-timeline__circle {
    box-shadow: 1px 1px 2px 1px rgba(0.1, 0.1, 0.1, 0.3);
    border-radius: 2rem;
  }

  &__last {
    margin-top: -1rem;
    margin-left: -1rem;
  }

  &__card.slide-in {
    opacity: 1;
    transform: translateX(0);
    /* Final position after sliding in */
  }

  &__card {
    margin-left: 2rem;
    border-radius: 0.5rem;
    border: 0.2rem solid $main-page-font-color !important;
    background-color: $main-page-card-color !important;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transform: translateX(15rem);
    transition: opacity 1s ease, transform 1s ease;

    .n-card-header {
      display: block;
      margin-bottom: -1.5rem;

      &__main {
        font-weight: 600 !important;
        color: $main-page-font-color !important;
        font-size: 1.5rem !important;
      }

      &__extra {
        font-size: 1.05rem !important;
        font-style: italic;
        color: $main-page-card-sub-text-font-color !important;
      }
    }

    .n-card__content {
      color: $main-page-font-color;
      font-size: 1rem;
    }
  }

  .n-timeline-item {
    height: 20rem;
    margin-left: 2rem;
  }

  .n-timeline-item-timeline__line {
    margin: 8.25rem 0 -6rem -1rem;
    transform-origin: top;
    animation: slideLine 3s ease-in-out;
  }

  .n-timeline-item-timeline__circle {
    margin-top: 7rem;
    margin-left: -1rem;
  }

  @keyframes slideLine {
    0% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
  }

  .n-timeline-item-timeline__icon {
    margin-top: 7rem;
  }

  .n-timeline-item-content {
    width: 50rem;

    &__title {
      font-size: 1.5rem !important;
      margin-top: -0.85rem !important;
      font-weight: 600 !important;
      color: $main-page-font-color !important;
    }
  }
}