.side-nav {
  background-color: $side-nav-color;
  min-width: 40vh;
  margin: 0.5rem;
  border-radius: 0.5rem;

  &__items {
    align-items: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;

    &__dp {
      transform: translate(-2.5%, -2.5%);
      animation: floater 5s infinite linear;
      //transition: ease 0s;
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      border: 5px $base-color solid;
    }

    @keyframes floater {
      0% {
        transform: rotate(0deg) translateY(0.25rem) rotate(0deg);
      }

      100% {
        transform: rotate(360deg) translateY(0.25rem) rotate(-360deg);
      }
    }

    &__dp-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }

    &__name {
      margin-top: 1rem;
      font-size: 2.25rem;
      font-weight: 700;
      color: $base-color;
      text-decoration: underline;
    }

    &__title {
      margin-top: 0.25rem;
      font-size: 1.5rem;
      color: $base-color;
    }

    &__menu {
      font-size: 16px;
      color: black;
      transition: all 0.3s ease;

      &>* {
        font-size: inherit;
        color: inherit;
      }
    }

    &__menu {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      min-width: 15rem;

      .n-menu-item-content {
        font-size: var(--font-size);
        transition: font-size 0.5s ease;
      }

      .n-menu-item-content:hover {
        font-size: 1.65rem;
        color: $side-nav-color !important;

        .n-menu-item-content-header:hover {
          color: $side-nav-color !important;
        }
      }

      .n-menu-item-content:hover .n-icon {
        font-size: 1.65rem;
        color: $side-nav-color !important;
      }

      .n-menu-item-content:hover .n-menu-item-content__arrow {
        color: $side-nav-color !important;
      }

      .n-menu-item-content .n-menu-item-content__arrow {
        color: $base-color;
      }

      .n-menu-item-content .n-icon {
        font-size: var(--font-size);
        transition: font-size 0.5s ease;
        color: $base-color;
      }

      .n-menu-item-content-header {
        color: $base-color !important;
      }
    }
  }
}